<!DOCTYPE html>
<html>
<head>
  <title>Spine Rails3</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in to TradeKing", "/auth/tradeking" %>
<% end %>

  <div class="posts">
    <%= yield %>
  </div>
</body>
</html>
